.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-1 {
    border-right: 1px solid #EBEDEF;
    margin-top: 20px;
}

.border-content {
    width: 610px;
    border-bottom: 1px solid #EBEDEF;
    width: 98%;
}

.title-1 {
    color: #C4160C;
    font-size: 52px;
    width: 624px;
    height: 201px;
    font-weight: 700;
    padding-bottom: 25px;
}

.title-2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}

.noticias-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.border {
    border-bottom: 1px solid #EBEDEF;
    width: 98%;
}

.nt {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.nt img {
 width: 193px;
 height: 110px;
 border-radius: 12px;
}

.nt-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
}

h4 {
    font-size: 20px;
    width: 192px;
}

.h-1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.paragrafo-t {
    color: #C4170C;
    font-weight: 500;
}

.paragrafo {
    font-size: 14px;
    font-weight: 400;
    color: #2F3134;
    width: 192px;
    padding-bottom: 20px;
}

#espacamento {
    margin-bottom: 10px;
    margin-right: 30px;
}

img:hover {
    opacity: 0.7;
}

li:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: #2F3134;
}